.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(95% - 50px);
  height: 100vh;
  margin-left: 50px;
  box-sizing: border-box;
  overflow: hidden;
}

.container::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 100vh;
  background-color: #283618;
  z-index: 1;
}

.main-content {
  display: flex;
  flex: 1;
  overflow-y: auto;
  padding-bottom: 20px;
}

.left-panel {
  flex: 2;
  background-color: #e0e0d1;
  padding: 20px;
  position: relative;
  margin-right: 20px;
  margin-left: 60px;
  margin-top: 60px;
  overflow-y: auto;
  max-height: calc(100vh - 80px);
}

.video-player {
  margin-left: 60px;
}

.right-panel {
  flex: 1;
  background-color: #e0e0e0;
  padding: 20px;
  margin-right: 10px;
  margin-top: 60px;
  overflow-y: auto;
  max-height: calc(100vh - 80px);
  border-radius: 10px;
}

.message {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.message::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #283618;
  margin-right: 10px;
  flex-shrink: 0;
}

.top-message {
  background-color: #3a3a3a;
  color: white;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.controls {
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
  margin-left: 45%;
  margin-top:10px;
}

.control-button {
  width: 100px;
  height: 40px;
  border-radius: 10%;
  background-color: #808080;
}

.red-button {
  background-color: #00FF00;
  font-size: 24px;
}

.message {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.new-button1 {
  position: absolute;
  right: 300px;
  background-color: #4a6741;
  color: white;
  padding: 8px 13px;
  border-radius: 5px;
  margin-top: 10px;
}

.new-button2 {
  position: absolute;
  top: 10px;
  right: 160px;
  background-color: #4a6741;
  color: white;
  padding: 8px 13px;
  border-radius: 5px;
}

.suggestions-container {
  background-color: #3a5a40;
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin: 20px 60px 40px 100px;
  overflow-y: auto;
  max-height: calc(50vh - 80px);
  position: relative;
}

.percentage {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}


.suggestions-title {
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 28px;
}

.suggestions-content {
  display: flex;
  background-color: #e9e9e9;
  color: black;
  border-radius: 10px;
  overflow: hidden;
}

.strengths, .weakness {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.strengths {
  border-right: 1px solid #ccc;
}

.strengths h3, .weakness h3 {
  margin-top: 0;
  font-size: 22px;
}

.improvement, .stronger-response {
  margin-top: 10px;
  text-align: left;
}

.improvement h3, .stronger-response h3 {
  font-size: 20px;
  margin-bottom: 5px;
}